/*FONTS*/
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Paytone One', sans-serif;
$tertiary-font: 'Pacifico', cursive;

/*COLORS*/
$emphasis-color: #f2c64b;
$dark-black: #1a0d01;
$light-black: #040e27;
$light-grey: #6e6e6e;
$orange: #f0542c;
$black: #000;
$white: #fff;
