/*FONTS*/
$primary-font: font-family: 'Montserrat', sans-serif;
$secondary-font: font-family: 'Paytone One', sans-serif;
$tertiary-font: font-family: 'Pacifico', cursive;

/*COLORS*/
$emphasis-color: #F2C64D;
$dark-black: #1A0D01;
$light-black: #040E27;
$light-grey: #6E6E6E;
$orange: #F0542C;