/*FONTS*/
/*COLORS*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #6E6E6E;
}

h1,
h2,
h3 {
  margin: 0;
  color: #040E27;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

header {
  width: 100%;
  height: 70px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header ul a {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}

header ul a:hover {
  color: #F2C64D;
}

header ul a:hover:after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #F2C64D;
  position: absolute;
  bottom: -50%;
  right: 19px;
}

header ul .active {
  color: #F2C64D;
}

header .logo {
  height: 70px;
  position: absolute;
  top: 0;
  left: 45%;
}

header .social-icons,
header .contact {
  color: #fff;
  display: inline-block;
  padding: 15px 0;
  text-decoration: none;
}

header .contact {
  border: 1px solid #F2C64D;
  border-radius: 32px;
  font-size: 12px;
  font-weight: 600;
  color: #F2C64D;
  padding: 10px;
}

header .social-icons a {
  text-decoration: none;
}

header .social-icons .icon {
  font-size: 12px;
  padding: 0 5px;
  color: #fff;
}

header .social-icons .icon:hover {
  color: #F2C64D;
}

.hero {
  width: 100%;
  height: 40vh;
  background-image: url(../img/bradcam.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Paytone One", sans-serif;
}

section {
  width: 100%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section .article-wrap {
  width: 70%;
}

section .article-wrap article {
  width: 90%;
  -webkit-box-shadow: 10px 10px 35px -20px grey;
          box-shadow: 10px 10px 35px -20px grey;
}

section .article-wrap article:nth-child(1) {
  margin-bottom: 30px;
}

section .article-wrap article img {
  width: 100%;
}

section .article-wrap article .text-wrap {
  padding: 40px 20px;
  position: relative;
}

section .article-wrap article .text-wrap:before {
  content: "15 Jan";
  height: 70px;
  width: 70px;
  position: absolute;
  background-color: #F0542C;
  border-radius: 5px;
  color: white;
  top: -30%;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

section .article-wrap article .text-wrap p {
  font-size: 14px;
  line-height: 1.6;
}

section .article-wrap article .text-wrap .icons {
  font-size: 12px;
}

section .article-wrap article .text-wrap .icons span,
section .article-wrap article .text-wrap .icons i {
  color: #6E6E6E;
  padding: 3px;
}

section .article-wrap article .text-wrap .icons .line {
  position: relative;
}

section .article-wrap article .text-wrap .icons .line:after {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  right: -2px;
  background-color: #6E6E6E;
}

section .sidebar {
  width: 30%;
}

section .sidebar .search,
section .sidebar .category,
section .sidebar .recent {
  background-color: #f7f7f7;
  margin: 30px 0;
}

section .sidebar .search {
  padding: 30px;
}

section .sidebar .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sidebar .search form .search-button {
  width: 100%;
  position: relative;
}

section .sidebar .search form .search-button input {
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  border: 1px solid grey;
}

section .sidebar .search form .search-button .magnifier {
  position: absolute;
  right: 0;
  right: 10px;
  top: 10px;
}

section .sidebar .search form button {
  padding: 10px;
  background-color: white;
  border: none;
  border: 1px solid red;
  text-transform: uppercase;
  color: red;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}

section .sidebar .category {
  padding: 20px;
}

section .sidebar .category h4 {
  margin: 0;
  position: relative;
  color: #040E27;
}

section .sidebar .category h4:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: #e2e2e2;
}

section .sidebar .category ul {
  list-style-type: none;
  padding: 0;
}

section .sidebar .category ul li {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

section .sidebar .category ul li a {
  font-size: 14px;
  text-decoration: none;
}

section .sidebar .recent {
  padding: 20px;
}

section .sidebar .recent h4 {
  margin-top: 0;
  position: relative;
  color: #040E27;
}

section .sidebar .recent h4:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #e2e2e2;
}

section .sidebar .recent .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

section .sidebar .recent .post img {
  width: 60px;
  height: 60px;
}

section .sidebar .recent .post .text {
  padding: 15px;
}

section .sidebar .recent .post .text h5 {
  margin: 0;
}

section .sidebar .recent .post .text span {
  font-size: 12px;
}
