/*FONTS*/
/*COLORS*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

header {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

header nav, header ul, header .social-icons, header .contact {
  display: none;
}

header .logo {
  height: 40px;
}

header .burger {
  color: #fff;
  font-size: 30px;
}

.hero {
  width: 100%;
  height: calc(60vh - 50px);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/banner.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/banner.png);
  background-size: cover;
  background-position: center;
}

.hero .intro-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 0;
  position: relative;
}

.hero .intro-wrap h3, .hero .intro-wrap h1 {
  color: #fff;
  font-family: "Paytone One", sans-serif;
}

.hero .intro-wrap h3 {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  background-image: url("../img/shape.png");
  background-size: 100% 100%;
  padding: 20px;
  background-repeat: no-repeat;
}

.hero .intro-wrap h1 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.2;
}

.hero .intro-wrap h2 {
  color: #F2C64D;
  font-family: "Pacifico", cursive;
  font-size: 50px;
  position: absolute;
  bottom: 0;
}
