@import "./variables" ;

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: $primary-font;
}
h1, h2, h3 {
    margin: 0;
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
}
header {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    background-color: $black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    nav, ul, .social-icons, .contact {
        display: none;
    }
    .logo {
        height: 40px;
    }
    .burger {
        color: $white;
        font-size: 30px;
    }
}
.hero {
    width: 100%;
    height: calc(60vh - 50px);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/banner.png)  ;
    background-size: cover;
    background-position: center;
    .intro-wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 0;
        position: relative;
        h3, h1 {
            color: $white;
            font-family: $secondary-font;
        }
        h3 {
            display: inline-block;
            font-size: 18px;
            margin-top: 20px;
            background-image: url("../img/shape.png");
            background-size: 100% 100%;
            padding: 20px;
            background-repeat: no-repeat;
        }
        h1 {
            font-size: 40px;
            text-transform: uppercase;
            line-height: 1.2;
        }
        h2 {
            color: $emphasis-color;
            font-family: $tertiary-font;
            font-size: 50px;
            position: absolute;
            bottom: 0;
        }
    }    
}
.burger-menu {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    h2 {
        font-family: $tertiary-font;
        color: $emphasis-color;
        font-weight: lighter;
    }
    h3 {
        text-transform: uppercase;
        font-family: $primary-font;
        color: $dark-black;
        font-size: 30px;
        margin: 20px 0;
    }
    .burger-item {
        width: 100%;
        padding: 15px 0;
        .burger-photo {
            height: 150px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .photo1 {
            background-image: url(../img/burger1.png);
        }
        .photo2{
            background-image: url(../img/burger2.png);
        }
        .photo3 {
            background-image: url(../img/burger3.png);
        }
        .photo4 {
            background-image: url(../img/burger4.png);
        }
        .photo5 {
            background-image: url(../img/burger5.png);
        }
        .photo6 {
            background-image: url(../img/burger6.png);
        }
        .photo7 {
            background-image: url(../img/burger7.png);
        }
        .photo8 {
            background-image: url(../img/burger8.png);
        }
        h4 {
            font-size: 30px;
            margin: 20px 0;
        }
        .price {
            color: $orange;
            font-weight: bolder;
            font-size: 20px;
        }
    }
    .more-items {
        display: inline-block;
        width: 100%;
        padding: 15px 0;
        text-decoration: none;
        border: 1px solid $orange;
        border-radius: 32px;
        color: $orange;
        transition: 0.4s;
        &:hover {
            color: $white;
            background-color: $orange;
        }
    }
}

