/*FONTS*/
/*COLORS*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/bgimage.png);
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.price {
  color: #F0542C;
  font-weight: 600;
  font-size: 24px;
}

.h2-style {
  font-family: "Pacifico", cursive;
  color: #f2c64d;
  font-weight: lighter;
}

.h3-style {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #1a0d01;
  font-size: 32px;
}

header {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

header nav,
header ul,
header .social-icons,
header .contact {
  display: none;
}

header .logo {
  height: 40px;
}

header .burger {
  color: #fff;
  font-size: 30px;
}

.hero {
  width: 100%;
  min-height: calc(60vh - 50px);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/banner.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/banner.png);
  background-size: cover;
  background-position: center;
}

.hero .intro-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 0;
  position: relative;
}

.hero .intro-wrap h3,
.hero .intro-wrap h1 {
  color: #fff;
  font-family: "Paytone One", sans-serif;
}

.hero .intro-wrap h3 {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  background-image: url("../img/shape.png");
  background-size: 100% 100%;
  padding: 20px;
  background-repeat: no-repeat;
}

.hero .intro-wrap h1 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.2;
}

.hero .intro-wrap h2 {
  color: #F2C64D;
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  font-size: 50px;
  position: absolute;
  bottom: 0;
}

.burger-menu {
  width: 100%;
  text-align: center;
  padding: 50px 20px;
}

.burger-menu .burger-item {
  width: 100%;
  padding: 15px 0;
}

.burger-menu .burger-item .burger-photo {
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.burger-menu .burger-item .photo1 {
  background-image: url(../img/burger1.png);
}

.burger-menu .burger-item .photo2 {
  background-image: url(../img/burger2.png);
}

.burger-menu .burger-item .photo3 {
  background-image: url(../img/burger3.png);
}

.burger-menu .burger-item .photo4 {
  background-image: url(../img/burger4.png);
}

.burger-menu .burger-item .photo5 {
  background-image: url(../img/burger5.png);
}

.burger-menu .burger-item .photo6 {
  background-image: url(../img/burger6.png);
}

.burger-menu .burger-item .photo7 {
  background-image: url(../img/burger7.png);
}

.burger-menu .burger-item .photo8 {
  background-image: url(../img/burger8.png);
}

.burger-menu .burger-item h4 {
  font-size: 30px;
  margin: 20px 0;
}

.burger-menu .more-items {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  border: 1px solid #F0542C;
  border-radius: 32px;
  color: #F0542C;
  font-weight: bolder;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu .more-items:hover {
  color: #fff;
  background-color: #F0542C;
}

.offer {
  width: 100%;
  padding: 50px 0;
  color: #fff;
}

.offer .burger-president {
  width: 100%;
  height: 300px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer .burger-president:nth-child(1) {
  margin-bottom: 30px;
}

.offer .burger1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/1.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/1.png);
}

.offer .burger2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/2.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/2.png);
}

.offer .text-wrap h4 {
  font-size: 20px;
  margin: 10px 0;
}

.offer .text-wrap .order-now {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: bolder;
  text-decoration: none;
  padding: 10px 25px;
  background-color: #F2C64D;
  border: 1px solid #F2C64D;
  border-radius: 32px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offer .text-wrap .order-now:hover {
  background-color: transparent;
  color: #F2C64D;
}

.about-us {
  width: 100%;
  padding: 50px 10px;
}

.about-us .staff {
  background-image: url(../img/about1.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: top;
  position: relative;
}

.about-us .staff .staff-single {
  width: 120px;
  height: 200px;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.about-us .about-text {
  padding: 20px 0;
}

.about-us .about-text p {
  line-height: 1.6;
}

.commercial {
  width: 100%;
  height: 400px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/video.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/video.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commercial h4 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
}

.commercial h5 {
  margin: 10px 0;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.commercial .play-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F0542C;
  position: relative;
}

.commercial .play-button .play {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonial {
  width: 80%;
  padding: 50px 0;
  text-align: center;
}

.testimonial h3 {
  margin: 30px 0;
}

.testimonial h5 {
  margin: 0;
}

.testimonial .star {
  font-size: 10px;
  color: #F2C64D;
}

.images {
  width: 100%;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images .burger-images {
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  transition: 0.4s;
}

.images .burger-images:hover .burger-hover {
  display: block;
  width: 250px;
  height: 250px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 50%;
  border: 1px dashed white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.images .img1 {
  background-image: url(../img/instagram1.png);
}

.images .img2 {
  background-image: url(../img/instagram2.png);
}

.images .img3 {
  background-image: url(../img/instagram3.png);
}

.images .img4 {
  background-image: url(../img/instagram4.png);
}

footer {
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  padding: 50px 0;
  text-align: center;
}

footer .info-wrap {
  width: 100%;
}

footer .info-wrap .info {
  width: 100%;
}

footer .info-wrap .info h4 {
  font-size: 20px;
}

footer .info-wrap .info a {
  text-decoration: none;
  color: #F0542C;
  font-size: 20px;
}

footer .stay-connected {
  text-align: left;
  padding: 0 10px;
}

footer .stay-connected .subscription {
  width: 100%;
  position: relative;
}

footer .stay-connected .subscription input {
  padding: 15px 20px;
  border-radius: 32px;
  border: 1px solid lightgray;
  outline: none;
}

footer .stay-connected .subscription .email {
  width: 100%;
}

footer .stay-connected .subscription .sign-up {
  border: none;
  padding: 10px 20px;
  background-color: #F0542C;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

footer .social {
  padding: 30px 0;
  position: relative;
}

footer .social:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #6E6E6E;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer .social a {
  display: inline-block;
  text-decoration: none;
  color: #F0542C;
}

footer .social a i {
  padding: 10px 0;
  font-size: 20px;
  border: 1px dashed #F0542C;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .social a i:hover {
  background-color: #F0542C;
  color: #fff;
}

@media (min-width: 768px) {
  .burger-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 0;
  }
  .burger-wrap .burger-item {
    width: 50%;
    text-align: left;
  }
  .burger-wrap .burger-item .burger-photo {
    width: 50%;
  }
  .offer .burger-president {
    height: 400px;
  }
  .offer .burger-president:nth-child(1) {
    margin-bottom: 0;
  }
  .offer .burger-president .text-wrap h4 {
    font-size: 30px;
  }
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us .staff {
    width: 40%;
    height: 400px;
  }
  .about-us .staff .staff-single {
    right: -10px;
  }
  .about-us .about-text {
    width: 60%;
    padding: 0 30px;
  }
  .about-us .about-text h2 {
    margin-top: -60px;
  }
  .commercial h4 {
    font-size: 50px;
  }
  .images .burger-images {
    width: 250px;
    height: 250px;
    margin-right: 20px;
  }
  .images .burger-images:hover .burger-hover {
    width: 200px;
    height: 200px;
  }
  footer .info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .info-wrap .info {
    width: 50%;
  }
  footer .info-wrap .stay-connected {
    width: 100%;
  }
  footer .info-wrap .social {
    width: 100%;
  }
  footer .info-wrap small {
    margin: 20px auto;
  }
}

@media (min-width: 1024px) {
  header {
    position: static;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  header nav {
    display: block;
  }
  header nav ul {
    display: block;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav ul a {
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    position: relative;
  }
  header nav ul a:hover {
    color: #F2C64D;
  }
  header nav ul a:hover:after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #F2C64D;
    position: absolute;
    bottom: -50%;
    right: 19px;
  }
  header .social-icons,
  header .contact {
    color: #fff;
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;
  }
  header .contact {
    border: 1px solid #F2C64D;
    border-radius: 32px;
    font-size: 12px;
    font-weight: 600;
    color: #F2C64D;
    padding: 10px;
  }
  header .social-icons a {
    text-decoration: none;
  }
  header .social-icons .icon {
    font-size: 12px;
    padding: 0 5px;
    color: #fff;
  }
  header .social-icons .icon:hover {
    color: #F2C64D;
  }
  header .burger {
    display: none;
  }
  header .logo {
    height: 70px;
  }
  .hero {
    height: calc(100vh - 50px);
  }
  .hero .intro-wrap {
    padding: 0;
    top: 20%;
    position: relative;
  }
  .hero .intro-wrap:before {
    content: "<";
    width: 30px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background-color: #6E6E6E;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .hero .intro-wrap:after {
    content: ">";
    width: 30px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background-color: #6E6E6E;
    position: absolute;
    right: 0;
    top: 50%;
  }
  .hero .intro-wrap h1 {
    font-size: 70px;
  }
  .hero .intro-wrap h2 {
    font-size: 100px;
    bottom: -40%;
  }
  .burger-wrap .burger-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .burger-wrap .burger-item .burger-photo {
    width: 40%;
  }
  .burger-wrap .burger-item .burger-text-wrap {
    width: 60%;
  }
  .burger-wrap .burger-item .burger-text-wrap h4 {
    font-size: 28px;
    margin: 0;
  }
  .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer .burger-president {
    width: 50%;
  }
  .offer .burger-president .text-wrap {
    padding: 30px;
  }
  .about-us .staff {
    height: 600px;
  }
  .about-us .staff .staff-single {
    width: 250px;
    height: 400px;
  }
  .about-us .about-text {
    padding: 0 100px;
  }
  .about-us .about-text h3 {
    font-size: 50px;
  }
  .commercial {
    height: 500px;
  }
  .testimonial {
    width: 50%;
    position: relative;
  }
  .testimonial p {
    position: relative;
  }
  .testimonial p:before {
    content: "<";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -100px;
    bottom: 0;
    border: 1px solid #6E6E6E;
    border-radius: 50%;
  }
  .testimonial p:after {
    content: ">";
    width: 20px;
    height: 20px;
    position: absolute;
    right: -100px;
    bottom: 0;
    border: 1px solid #6E6E6E;
    border-radius: 50%;
  }
  footer .info-wrap .info {
    width: 33%;
  }
  footer .info-wrap .stay-connected {
    width: 33%;
  }
  footer .info-wrap .social {
    padding: 50px 0;
  }
  footer .info-wrap .social i {
    margin-right: 10px;
  }
}
