@import "./variables";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $primary-font;
}
h1,
h2,
h3 {
  margin: 0;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}
.price {
  color: $orange;
  font-weight: 600;
  font-size: 24px;
}
.h2-style {
  font-family: "Pacifico", cursive;
  color: #f2c64d;
  font-weight: lighter;
}
.h3-style {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #1a0d01;
  font-size: 32px;
}
header {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  nav,
  ul,
  .social-icons,
  .contact {
    display: none;
  }
  .logo {
    height: 40px;
  }
  .burger {
    color: $white;
    font-size: 30px;
  }
}
.hero {
  width: 100%;
  min-height: calc(60vh - 50px);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../img/banner.png);
  background-size: cover;
  background-position: center;
  .intro-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    position: relative;
    h3,
    h1 {
      color: $white;
      font-family: $secondary-font;
    }
    h3 {
      display: inline-block;
      font-size: 18px;
      margin-top: 20px;
      background-image: url("../img/shape.png");
      background-size: 100% 100%;
      padding: 20px;
      background-repeat: no-repeat;
    }
    h1 {
      font-size: 40px;
      text-transform: uppercase;
      line-height: 1.2;
    }
    h2 {
      color: $emphasis-color;
      font-family: $tertiary-font;
      font-size: 50px;
      position: absolute;
      bottom: 0;
    }
  }
}
.burger-menu {
  width: 100%;
  text-align: center;
  padding: 50px 20px;
  .burger-item {
    width: 100%;
    padding: 15px 0;
    .burger-photo {
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .photo1 {
      background-image: url(../img/burger1.png);
    }
    .photo2 {
      background-image: url(../img/burger2.png);
    }
    .photo3 {
      background-image: url(../img/burger3.png);
    }
    .photo4 {
      background-image: url(../img/burger4.png);
    }
    .photo5 {
      background-image: url(../img/burger5.png);
    }
    .photo6 {
      background-image: url(../img/burger6.png);
    }
    .photo7 {
      background-image: url(../img/burger7.png);
    }
    .photo8 {
      background-image: url(../img/burger8.png);
    }
    h4 {
      font-size: 30px;
      margin: 20px 0;
    }
  }
  .more-items {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    border: 1px solid $orange;
    border-radius: 32px;
    color: $orange;
    transition: 0.4s;
    &:hover {
      color: $white;
      background-color: $orange;
    }
  }
}
.offer {
  width: 100%;
  padding: 50px 0;
  color: $white;
  .burger-president {
    width: 100%;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:nth-child(1) {
      margin-bottom: 30px;
    }
  }
  .burger1 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../img/1.png);
  }
  .burger2 {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../img/2.png);
  }
  .text-wrap {
    h4 {
      font-size: 20px;
      margin: 10px 0;
    }
    .order-now {
      display: inline-block;
      color: $white;
      font-size: 12px;
      font-weight: bolder;
      text-decoration: none;
      padding: 10px 25px;
      background-color: $emphasis-color;
      border: 1px solid $emphasis-color;
      border-radius: 32px;
      transition: 0.4s;
      &:hover {
        background-color: transparent;
        color: $emphasis-color;
      }
    }
  }
}
.about-us {
  width: 100%;
  padding: 50px 10px;
  .staff {
    background-image: url(../img/about1.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top;
    position: relative;
    .staff-single {
      width: 120px;
      height: 200px;
      position: absolute;
      right: 0;
      bottom: -20px;
    }
  }
  .about-text {
    padding: 20px 0;
    p {
      line-height: 1.6;
    }
  }
}
.commercial {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../img/video.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    margin: 0;
    color: $white;
    text-align: center;
    font-family: $secondary-font;
    text-transform: uppercase;
    font-size: 32px;
  }
  h5 {
    margin: 10px 0;
    color: $white;
    font-size: 22px;
  }
  .play-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $orange;
    position: relative;
    .play {
      font-size: 24px;
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.testimonial {
  width: 80%;
  padding: 50px 0;
  text-align: center;
  h3 {
    margin: 30px 0;
  }
  h5 {
    margin: 0;
  }
  .star {
    font-size: 10px;
    color: $emphasis-color;
  }
}
.images {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .burger-images {
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
    transition: 0.4s;
    position: relative;
    transition: 0.4s;
    &:hover .burger-hover {
      display: block;
      width: 350px;
      height: 350px;
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      );
      border-radius: 50%;
      border: 1px dashed white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .img1 {
    background-image: url(../img/instagram1.png);
  }
  .img2 {
    background-image: url(../img/instagram2.png);
  }
  .img3 {
    background-image: url(../img/instagram3.png);
  }
  .img4 {
    background-image: url(../img/instagram4.png);
  }
}
